body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.regform{
    position: absolute;
    left: 2%;
    top: 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    /* height: 600px; */
}

.regform-body{
    text-align: left;
    padding: 20px 10px;
}

.regform-body > *{
    padding: 5px;
}


.updateform{
    position: absolute;
    left: 66%;
    top: 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    
}

.updateform-body{
    text-align: left;
    padding: 20px 10px;
}

.updateform-body > *{
    padding: 5px;
}


.deleteform{
    position: absolute;
    left: 33%;
    top: 50%;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    
}

.deleteform-body{
    text-align: left;
    padding: 20px 10px;
}

.deleteform-body > *{
    padding: 5px;
}



.checkform{
    position: absolute;
    left: 33%;
    top: 5%;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    
}

.checkform-body{
    text-align: left;
    padding: 20px 10px;
}

.checkform-body > *{
    padding: 5px;
}





.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}